*{padding:0;margin:0;}
ul li{list-style:none;}
a{text-decoration:none;}
img{border:none}
body{font-size:12px;color:#4c4c4c;font-family:"微软雅黑"；}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
@font-face{font-family:myfont;src:url(../mao.ttf);}
.head{
	width:1012px;
	height:90px;
	margin:0 auto;
	h1{
		width:200px;
		height:74px;
		float:left;
		margin-top:20px;
		font-size:16px;
		font-family:myfont;
		color:#000;
		img{
			float:left;
			overflow:hidden;
		}
		span{
			float:left;
			margin-top:20px;
			margin-left:10px;
			i{font-size:14px;
				font-style:normal;
			}
		}

	}
	.head-right{
		width:450px;
		height:20px;
		float:right;
		margin-top:20px;
		.top{
			li{
				float:left;
				color:#909090;
				margin-right:20px;
				padding-left:20px;
				line-height:28px;
				font-size:12px;
			}
			li:nth-child(1){background:url(../img/nav-01.png) no-repeat 0 center;}
			li:nth-child(2){background:url(../img/nav-02.png) no-repeat 0 center;}
		}
		span{font-size:20px;color:#ff0000;margin-top:-10px;}
	}
	.nav{float:right;width:800px;height:42px;margin-top:6px;
		li{float:left;
			a{float:left;padding:12px 14px 16px;color:#3e3e3e;font-size:14px;margin-top:4px;}
			.first-child{background-color:#ff0000;color:#f5f5f5;}
		}
	}

}
.banner{width:100%;overflow:hidden;display:block;border:none;border-top:6px solid #0059b5;}
h2{font-size:24px;color:#000;text-align:center;margin-top:58px;}
h3{font-size:25px;color:#c4c4c4;text-align:center;}
.service{width:1012px;height:311px;margin:20px auto 0;
	li{float:left;width:270px;height:311px;border-radius:10px}
	li:nth-child(1){background:#fde07d url(../img/nth-01.png) no-repeat center 48px;}
	li:nth-child(2){background:#7292fa url(../img/nth-02.png) no-repeat center 38px;margin:0 94px;}
	li:nth-child(3){background:#fba96c url(../img/nth-03.png) no-repeat center 48px;}
	h4{text-align:center;font:14px "宋体";color:#000;margin-top:18px;}
	p{width:240px;overflow:hidden;border-top:1px dashed #898989;line-height:30px;font-size:12px;color:#4c4c4c;margin:140px auto 0;padding-top:20px;}
}
.case{
	width:1012px;height:390px;margin:20px auto 45px;clear:both;
	li{float:left;width:302px;height:390px;border:1px solid #b3b3b3;box-shadow:0 0 5px #d1d1d1;}
	li:nth-child(2){margin:0 45px;background-color:#fafafa;}
	h4{color:#64b9fa;font:14px "宋体";width:272px;height:28px;line-height:28px;border-bottom:1px solid #c2c8cd;margin:20px 0 22px 12px;}
	img{display:block;margin-left:12px;}
	p{width:272px;margin-left:12px;overflow:hidden;margin-top:10px;font:12px/30px "宋体";color:#000;clear:both;}
	a{display:block;float:right;margin-right:18px;margin-top:20px;padding:5px;background-color:#64b9fa;border-radius:5px;color:#fff;}
}
.aside{width:1012px;overflow:hidden;margin:0 auto;
	.asideLeft{float:left;width:432px;
		.bt{font-size:18px;color:#000;width:432px;text-align:left;margin-bottom:28px;
			span{color:#ff4a4a;margin-left:10px;display:inline-block;}
			a{text-align:right;display:inline-block;float:right;font-style:normal;font-size:12px;padding-right:24px;background:url(../img/jt.png) no-repeat 30px;color:#000;}
		}
		div{width:100%;border-bottom:1px solid #8d8d8d;padding-bottom:10px;overflow:hidden;
			img{float:left;width:163px;}
			.art{float:right;width:245px;overflow:hidden;border:none;
				h2{width:245px;margin:0;padding:0;font-size:12px;text-align:left;color:#3e3e3e;font-weight:bold;}
				h3{line-height:24px;color:#3e3e3e;font-size:12px;text-align:left;}

			}
		}
		li{
		float:left;width:100%;
			a{float:left;color:#000;margin:10px 0;padding-left:12px;background:url(../img/li-list.png) no-repeat 0 center;}
		}	
	}
	.asideRight{float:right;width:454px;
		.bt{font-size:18px;color:#000;width:432px;text-align:left;margin-bottom:28px;
			span{color:#ff4a4a;margin-left:10px;display:inline-block;}
			a{text-align:right;display:inline-block;float:right;font-style:normal;font-size:12px;padding-right:24px;background:url(../img/jt.png) no-repeat 30px;color:#000;}
		}
		table{width:100%;text-align:center;border-spacimg:0;border-collapse:collapse;
			tr{height:36px;line-height:36px;}
			tr:nth-child(2n+1){background-color:#f0f0f0;}
		}

	}
}
.pic{width:1012px;overflow:hidden;margin:20px auto;
	.bt{font-size:18px;color:#000;width:432px;text-align:left;margin-bottom:28px;
			span{color:#ff4a4a;margin-left:10px;display:inline-block;}
			
		}
	li{float:left;margin-right:28px;
		p{line-height:52px;height:52px;}
	}
	li:nth-child(5n+5){float:right;margin:0;}
	.more{float:right;padding:6px 22px 6px 16px;color:#fff;background-color:#64b9fa;border-radius:5px;font-size:12px;margin-right:30px;
		img{display:block;box-shadow:5px 5px 5px #e2e2e2;border:1px solid #e2e2e2;}
	}
	.linkall{padding:0 24px 0 36px;color:#ff0000;font:14px "宋体";background:url(../img/link.png) no-repeat;margin-top:66px;display:inline-block;}
	.link{padding:0 20px;font:12px "宋体";color:#000;}
}

.footer{width:100%;height:325px;margin:0 auto;background:#0059b5 url(../img/footer-bg.png);background-size:100% 100%;color:#fff;font:12px "宋体";color:#fff;
	nav{width:100%;height:38px;background:rgba(0,0,0,.5);
		ul{width:1012px;margin:0 auto;}
		li{float:left;padding-right:48px;line-height:38px;}
		li:nth-child(1){padding-left:98px;}
	}
	p{width:1012px;margin:20px auto;overflow:hidden;font:12px/24px "宋体";}
	.ft{width:1012px;margin:0 auto;overflow:hidden;
		.QRcode{width: 120px;
				height: 20px;
				text-align: center;
				float: left;
				margin-left: 230px;
				padding-top: 125px;
				background: url(../img//QRcode.jpg) no-repeat;
			}
		.contact_us{width: 267px;
		    height: 125px;
		    text-align: left;
		    float: left;
		    margin-left: 120px;
		    border-radius:20px;
		    background-color:#003e7e;
		    border:1px solid #4b89c9;
		    padding: 4px 13px;
		    line-height: 30px;
		    font-family: "Microsoft YaHei";
		    font-size: 12px;
		    p{
		    	line-height:30px;margin:0;padding:0;
		    }
		}
	}
	.inf{
		height: 35px;
		color: #fff;
		text-align: center;
		font-size: 12px;
		line-height: 35px;
		a{color:#4a4a4a;}
	}
}
















