*{padding:0;margin:0;}
img{display:block;border:none;width:200px;height:400px;}
div{position:relative;margin:80px;margin-left:500px;}
div img{position:absolute;left:0;top:0;border:1px solid #ccc;
	box-shadow:0px 0px 5px #ccc;transition:all 0.5s;}
div:hover img:nth-child(1){transform:rotate(-15deg);transform-origin:50% 100%;}
div:hover img:nth-child(2){transform:rotate(-10deg);transform-origin:50% 100%;}
div:hover img:nth-child(3){transform:rotate(-5deg);transform-origin:50% 100%;}
div:hover img:nth-child(4){transform:rotate(0deg);transform-origin:50% 100%;}
div:hover img:nth-child(5){transform:rotate(5deg);transform-origin:50% 100%;}
div:hover img:nth-child(6){transform:rotate(10deg);transform-origin:50% 100%;}
div:hover img:nth-child(7){transform:rotate(15deg);transform-origin:50% 100%;}
div:hover img:nth-child(8){transform:rotate(20deg);transform-origin:50% 100%;}

